
.navbar {
  background-color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25em;
  height: 55px;
}

.navbar ul {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  list-style: none;
  padding-right: 15%;
}

.navbar p {
  color: #ffffff;
  margin: 10px 10px;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 15%;
}

.navbar a {
  color: #ffffff;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  padding: 1em;
  font-size: 1em;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.navbar a:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.navbar a.active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.content {
  padding: 0 15%;
  text-align: center;
}

.image {
  margin: 20px 0;
}

/* Footer */
footer {
  font-size: 13px;
  background: white;
  color: #495057;
  letter-spacing: 0.3em;
  height: 90px;
  padding: 20px;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #bdc2c7;
}

.icons a {
  text-decoration: none;
  color: #495057;
}

.icons a:hover {
  color: #4081c2;
  font-size: 15px;
}
